/* Общие */

:root{
    --accent:#01996D;
    --black: #000;
    --text: #424242;
    --navcolor: #292929;
    --bgcolor: #245852;
}

html{
    box-sizing: border-box;
}
 *, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Lato', serif;
}

h1, h2, h3, p, a, ul{
    margin: 0;
    padding: 0;
}

.text__h2{
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.btn__text{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: var(--accent);
    border: none;
    border: 1px solid #01996D;
    border-radius: 4px;
    cursor: pointer;
}

.subject__p{
    font-weight: 600;
    font-size: 25px;
    color: var(--text);
}

.container{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    /* padding: 0 15px; */
}

/* Меню */

.menu {
    background-image: url(../img/BG-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu__inner{
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.header__img {
    margin-right: 173px;
}
.nav {
    display: flex;
    margin-right: 279px;
}

.nav li{
    list-style: none;
    margin-right: 72px;
}

.nav li:last-child{
    margin-right: 0;
}

.nav li a{
    text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: var(--navcolor);
}

.nav li:hover{
    color: var(--accent);
    transition: 0.5s ease;
    transform: scale(1.5);
    }

.header__link {
    display: flex;
    align-items: center;
}
.header__link a{
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: var(--black);
margin-right: 35px;
text-decoration: none;
}

.header__link a:hover{
    color: var(--accent);
    transition: 0.5s ease;
    transform: scale(1.5);
    }
.menu__btn {
padding: 13px 50px;
}

/* Секция header */
.header__title {
    min-height: 895px;
    background-image: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.h1__title {
    font-family: 'Georgia', sans-serif;
font-weight: 700;
font-size: 65px;
line-height: 74px;
color: var(--accent);
max-width: 440px;
padding-top: 175px;
margin-bottom: 30px;
}
.header__text {
font-weight: 400;
font-size: 20px;
line-height: 31px;
color: #484848;
max-width: 420px;
margin-bottom: 18px;
height: 123px;
}

.header__btn {
    padding: 20px 40px;
width: 227px;
height: 65px;
}

/* Секция footer */

.footer {
    background-color: var(--bgcolor);
    padding-top: 95px;
    padding-bottom: 95px;
}
.footer ul li a{
font-weight: 600;
font-size: 25px;
line-height: 30px;
text-decoration: none;
color: #FFFFFF;
}

.footer ul li a:hover{
    transition: 0.5s ease;
    transform: scale(10.5s);
}
.footer ul li{
    list-style: none;
    margin-bottom: 60px ;
}
.logo {
    margin-bottom: 60px;
}

.footer ul li:last-child{
    margin-bottom: 0;
}

/* Медиазапросы */
@media screen and (max-width:1750px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .menu__inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__img{
        margin-bottom: 10px;
    }
    .nav{
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width:1024px){
    .menu__inner{
        flex-direction: column;
    }
    .menu__inner img{
        display: block;
       margin: 0 auto;
       margin-bottom: 10px;
    }

    .nav{
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .header__link{
        flex-direction: column;
        justify-content: center;
    }

    .header__link a{
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width:550px){
    .nav{
        flex-direction: column;
        
    }
    
    .nav li{
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .header__link{
        margin: 0 auto;
    }
}
@media screen and (max-width:415px){
    .h1__title {
    font-size: 50px;
}

.header__text{
    font-size: 18px;
    margin-bottom: 35px;
}

.btn__text{
    font-size: 18px;
}
.nav a{
    font-size: 18px;
}
}